<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>RTC</title>
		<link rel="stylesheet" href="">
		<link rel="stylesheet" href=/bower_components/bootstrap/dist/css/bootstrap.css></link>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-static-top navbar-inverse">
			<div class="container">
				<div class="navbar-header">
					<span class="navbar-brand">4Real Admin</span>
				</div>
			</div>
		</nav>

		<div class="container">

			<div class="row" ng-app="adminApp">
				<div class="col-md-6">
					<h2>Users:</h2>

					<div ng-controller="UsersController">
						<ul class="list-unstyled">
							<li ng-repeat="(userSocketId, user) in users">{{user.username}}</li>
							<li class="text-muted" ng-show="!users.length">No user views</li>
						</ul>
					</div>
				</div>

				<div class="col-md-6">
					<h2>Admins:</h2>

					<div ng-controller="AdminController">
						<ul class="list-unstyled">
							<li ng-repeat="(userSocketId, user) in users">{{user.username}}</li>
							<li class="text-muted" ng-show="!users.length">No admin views</li>
						</ul>
					</div>
				</div>
			</div>

		</div>



		<script src=/bower_components/jquery/dist/jquery.min.js></script>
		<script src=/bower_components/bootstrap/dist/js/bootstrap.min.js></script>
		<script src=/bower_components/angular/angular.js></script>
		<script src=/socket.io/socket.io.js></script>
		<script src="admin.js"></script>
	</body>
</html>